# default ignore everything
# except .gitignore, README.md and LICENSE
*
!.gitignore
!README.md
!LICENSE

## files to include ##
# docker files
!docker-compose.yml
!Dockerfile
!example.env
# source code files
!go.mod
!go.sum
!main.go
!timescale.go

## Directories to include ##
!.devcontainer
!docker
!scripts
# and their contents
!*/*

# if you want to ignore further subdirectory files and directories
# you need to add them here
